@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
section.input-section {
  width: 50%;
  height: 80%;
  margin: 0;
  margin-top:10%;
  float:left;
  position: absolute;

  
  
}

div.text-input1 {
  padding: 5px;
  width: 23%;
  height: 4.2%;
  margin:0;
  float: left;
  margin-top: 1.5%;
  position: relative;
  text-align: middle;
  color:aliceblue;
  
}
.precaution {
  width: 22px;
  height: 22px;
  padding: 0;
  float: left;
  margin: 0;
  margin-top: 1.5%;
  position: relative;
  border: none;
  cursor: pointer;
  background-size: cover;
  outline:0px !important;
  color: aliceblue;
}

.cautionImg {
  width: 22px;
  height: 22px;
  display: block;
  float: left;
}


.coverDom {
  width: 1000%;
  height: 1000%;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1002;
  color: aliceblue;
}

.cautionContent {
  width: 400px;
  height: 300px;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 1003;
  border-color: black;
  border-width: 2px;
  border-style: double;
  
  color:white;
}

.input-button {
  position: absolute;
  width: auto;
  margin-top:-17.1%;
  left:76%;
  height: auto;
  text-align: middle;
  border: none;
  background-color: transparent;
  color:rgb(26, 150, 26);
  font-size: 1.1rem;
  cursor: pointer;
  
}

.input-button-close {
  width: auto;
  height: auto;
  text-align: middle;
  border: none;
  background-color: Black;
  color: white;
  font-size: 17px;
  cursor: pointer;
  padding: 7px;
  
}

p.linestyle {
  margin:5px;
}

div.text-input2 {
  position:absolute;
  bottom:30%;
  width: 40%;
  font-weight: bold;
  text-align: middle;
  color: rgb(6, 40, 70);
  
  font-weight: lighter;
  font-size: larger;
  border-radius: 15px;
}
