@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
textarea.input-data {
  margin-top:50%;
  border:mediumaquamarine 3px solid;
  padding: 5px;
  width: 105%;
  height: 15%;
  resize: none;
  background-color: white;
  color:steelblue;
  border-color: transparent;
  border-radius: 15px;
  padding:10px;
  
  font-size:large;
}
