div.show-datas {
  width: 100%;
  height: 10%;
  float: left;
  color: aliceblue;
  background-color: rgba(14, 116, 109, 0.849);
}

svg.data-svg {
  width: 99.5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  color: aliceblue;
}
