/* FRAME STARTS */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
.array {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  height: 40svh;
}
.cell {
  flex: 1 1 24px;
  margin: 1px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #1b1464;
  transition: all 0.4s ease-in;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.8svw;
  color: #fff;
}
.cell.done {
  color: black;
  background-color: #5fcae6;
  transition: all 0.4s ease-out;
}
.cell.current {
  background-color: #B8336A;
  transition: all 0.1s ease-out;
}
/* FRAME ENDS */

.instructionBtn {
  width: 50px;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* NAVBAR STARTS */
.navbar-sorting {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.complexity-table{
  width: 100%;
  text-align: center;
}
.settingArea{
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.settingSelect{
  display: flex;
  margin-bottom: 2px;
}
.settingLabel, .settingInput{
  flex: 50%;
  width: 100%;
}
.buttonArea{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.buttonArea button:not(.gosample){
  margin: 0 0.5px 1px 0.5px;
}
.navbar-table {
  width: 40vh;
  height: 10vh;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 12px;
  color:#1b1464;
  margin-left:0px;
  margin-right:0%;
  padding-bottom: 0px;
}
.tablesort{
  color:#1b1464;
}

.navbar-sorting .options {
  flex-basis: 50%;
  width: 100%;
}
.navbar-sorting a {
  outline: none;
  cursor: pointer;
  color: #ccd6f6;
  padding: 13px 13px;
  text-decoration: none;
}
.navbar-sorting > a:hover {
  color: #64ffda;
}
.navbar-sorting #menu {
  outline: none;
}
.navbar-sorting > .icon {
  display: none;
}
/* NAVBAR ENDS */
/* ALGO MENU STYLE */
.navbar-algorithms {
  width: 50%;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbarSelect{
  min-height: 40px;
  box-sizing: border-box;
  --main-color: white;
  color: var(--main-color);
  flex: 1 1 auto;
  display: flex;
  min-width: fit-content;
  background-color: #B8336A;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0 0.5px 0 1px;
  align-items: center;
  justify-content: center;
  border: 1px solid #B8336A;
  transition: all 0.1s ease-out;
}
.navbarSelect:hover{
  --main-color:#B8336A;
  border: 1px solid #B8336A;
  background-color:#ffffff;
  transition: all 0.1s ease-in;
}
.selectIcon{
  font-size: 1.4rem;
  display: flex;
  margin: 0px 2px 0 8px;
}
.navbarInfo button{
  min-width: 40px;
  margin-left: 0.5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.algo-menu {
  flex: 1 1 auto;
  display: flex;
  min-width: fit-content;
  background-color: transparent;
  box-sizing: border-box;
  color: var(--main-color);
  min-height: 38px;
  padding: 0 8px 0 0;
  border: 0px;
  outline: 0px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.algo-option {
  color: black;
}
.config-menu {
  background-color: transparent;
  text-align: center;
  min-width: 60px;
  min-height: 40px;
  text-overflow: ellipsis;
  border:#1b1464 solid 1px;
  border-radius:4px;
}
.config-option {
  width: 30px;
  height: 60px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 960px) {
  .cell{
    font-size: 0;
  }
  .settingArea{
    width: 100%;
    box-sizing: border-box;
  }
  .navbar-algorithms{
    width: 100%;
  }
  .selectIcon{
    font-size: 1rem;
  }
}