/* FRAME STARTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.array {
  padding: 1rem;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  min-height: 50vh;
  align-items: flex-start;
}
.cell {
  flex: 0.5;
  margin: 1.5px;
  min-height:19px;
  display: flex;
  resize: horizontal;
  position: relative;
  align-items: flex-start;
  background-color: rgba(179, 187, 190, 0.795);
  transition: all 0.4s ease-in;
  border-radius: 3px;
  font-weight: bold;
  ;
}
.cell.done {
  background-color: rgb(169,219,251);
  border-color: rgb(169,219,251);
  transition: all 0.4s ease-out;
}
.cell.current {
  border-color: rgba(238, 255, 143, 0.952);
  background-color: rgba(238, 255, 143, 0.952);
  transition: all 0.4s ease-out;
}
/* FRAME ENDS */
button {
  width: auto;
  height: auto;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: rgb(238, 241, 245);
  border-radius: 0px;
  background:rgb(38,89,166);
  background-size: 600%;
  border-style: hidden;
  font-weight: bold;
  cursor: pointer;

  border-radius: 7px;
  border: 3px solid rgb(38,89,166);
}
button:hover {background-color:rgb(113, 220, 228)}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* NAVBAR STARTS */
.navbar-algorithms {
  top: 0;
  overflow: hidden;
  font-size: 20px;
  color: black;
  min-height: 60px;
  text-align: center;
}
.navbar-sorting {
  position:absolute;
  width:50%;
  overflow: hidden;
  font-size: 18px;
  color: black;
  min-height: 60px;
  align-content: center;
  text-align: center;

  font-weight: bolder;
  padding:20px;
  padding-left:17vh;
 
  
}
.navbar-table {
  width: 40vh;
  height: 10vh;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 12px;
  color:rgb(38,89,166);
  margin-left:0px;
  margin-right:0%;
  padding-bottom: 0px;
  

}

.tablesort{
  
  color:rgb(38,89,166);
  padding-bottom: unset;
}



.navbar-sorting .options {
  margin: 10px;
  text-align: center;
}
.navbar-sorting a {
  outline: none;
  cursor: pointer;
  color: #ccd6f6;
  padding: 13px 13px;
  text-decoration: none;
}
.navbar-sorting > a:hover {
  color: #64ffda;
}
.navbar-sorting #menu {
  margin-top: 15px;
  outline: none;
}
.navbar-sorting > .icon {
  display: none;
}
#start {
  margin: 10px;
}
#random {
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .navbar button,
  .navbar .options {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive .options {
    float: none;
    display: block;
    text-align: center;
  }
  .navbar.responsive button {
    display: inline;
  }
}

/* NAVBAR ENDS */

/* ALGO MENU STYLE */
.algo-menu {
  background-color: transparent;
  color: black;
  font-size: 48px;
  border: 0px;
  outline: 0px;
  font-weight: bold;
  text-align: center;
}
.algo-option {
  background-color: rgb(0,0,34);
  color: white;
  font-size: 36px;
  border: 0px;
  outline: 0px;
}
.config-menu {
  background-color: transparent;
  color: rgb(38,89,166);
  font-size: 18px;
  text-align: center;

  width: 70px;
  height: 40px;
  text-overflow: ellipsis;
  border:rgb(38,89,166) solid 2px;
  border-radius:5px;
}
.config-option {
  background-color: rgb(38,89,166);
  color: white;
  font-size: 18px;

  width: 30px;
  height: 60px;
  text-overflow: ellipsis;
}
