/* FRAME STARTS */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
.array {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  height: 40svh;
}
.cell {
  flex: 1 1 24px;
  margin: 1px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #1b1464;
  transition: all 0.4s ease-in;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.8svw;
  color: #fff;
}
.cell.done {
  color: black;
  background-color: #5fcae6;
  transition: all 0.4s ease-out;
}
.cell.current {
  background-color: #B8336A;
  transition: all 0.1s ease-out;
}
/* FRAME ENDS */

.instructionBtn {
  width: 50px;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* NAVBAR STARTS */
.navbar-algorithms {
  min-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbarInfo button{
  min-width: 50px;
}
.navbar-sorting {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width:50%;
  font-size: 0.8rem;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.complexity-table{
  width: 100%;
  text-align: center;
}
.settingArea{
  padding: 0 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.settingSelect{
  display: flex;
  margin-bottom: 2px;
}
.settingLabel, .settingInput{
  flex: 50%;
  width: 100%;
}
.buttonArea{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.buttonArea button{
  margin: 0 1px 1px 0;
}
.navbar-table {
  width: 40vh;
  height: 10vh;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 12px;
  color:#1b1464;
  margin-left:0px;
  margin-right:0%;
  padding-bottom: 0px;
}
.tablesort{
  color:#1b1464;
}

.navbar-sorting .options {
  flex-basis: 50%;
  width: 100%;
}
.navbar-sorting a {
  outline: none;
  cursor: pointer;
  color: #ccd6f6;
  padding: 13px 13px;
  text-decoration: none;
}
.navbar-sorting > a:hover {
  color: #64ffda;
}
.navbar-sorting #menu {
  outline: none;
}
.navbar-sorting > .icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .cell{
    font-size: 0;
  }
  .navbar-sorting{
    font-size: 0.6rem;
    width: 100%;
  }
  .navbar-algorithms{
    width: 100%;
  }
  button {
    font-size: 0.7rem;
  }
  button svg{
    font-size: 1rem;
  }
  .ExecutionTime {
    font-size: 0.8rem;
  }
}

/* NAVBAR ENDS */

/* ALGO MENU STYLE */
.algo-menu {
  background-color: transparent;
  color: #1b1464;
  font-size: 2.2rem;
  border: 0px;
  outline: 0px;
  font-weight: 800;
}
.algo-option {
  background-color: transparent;
  color: #1b1464;
  font-size: 2.4rem;
  border: 0px;
  outline: 0px;
}
.config-menu {
  background-color: transparent;
  color: #1b1464;
  font-size: 1rem;
  text-align: center;
  width: 70px;
  height: 40px;
  text-overflow: ellipsis;
  border:#1b1464 solid 1px;
  border-radius:4px;
}
.config-option {
  color: #1b1464;
  font-size: 1rem;
  width: 30px;
  height: 60px;
  text-overflow: ellipsis;
}