@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.AVLdiv {
	margin: 0;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
#AVL {
	border: hidden;
	border-radius:20px;
	margin: 40px 60px 0 60px;
	height:60%;
	background-color: rgb(169,219,251);
	text-align: center;
	width:auto;
	margin-left:20%;
	margin-right:20%;
	padding-top:50px;
	
  }
  
  #treeAVL {
	display: inline-flex;
	padding:inherit;
	margin-top:15px;
	min-width: 700px;
	width: auto;
	padding-left:10%;
	padding-right:10%;
	margin-bottom: -50px;
	background-color:rgb(207,237,253);
	height:400px;
	border-radius: 20px;
	text-align: center;
	scroll-behavior: smooth;
	overflow-y: auto;
	overflow-x: auto;
	
  }
.treeAVL ::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  .treeAVL ::-webkit-scrollbar-track {
	background: #c7f7f4d2;
  }
  
  /* Handle */
  .treeAVL ::-webkit-scrollbar-thumb {
	background: rgb(116, 25, 25);
	border-radius: 4px;
  }
  
  /* Handle on hover */
  .treeAVL ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  #description {
	display:absolute;
	width: 500px;
	margin-top:-15px;
	margin-left:24%;
	margin-bottom: 15px;
	background-color:none;
	height:30px;
	border-radius: 10px;
	text-align: center;
	
	
  }
  .txt{
	
	font-weight: unset;
	margin-left:15%;
	margin-right:15%;
  	
  }
  #basic-actions {
	display: inline-flex;
	padding: 20px 10px;
	text-align: justify;
	width: 100%;
	margin-left:29%;
	margin-top:-100px;
  }
  
  #basic-actions .action {
	display: block;
	

  }
  
  #basic-actions .action button {
	width: auto;
  }
  
  #basic-actions .action input {
	  width: 74px;
	  margin-right: 20px;
  }
  
  #traversal-actions {
	background-color: rgb(139,207,249);
	border: hidden;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 0 60px 40px 60px;
	padding: 20px;
	width:auto;
	margin-left:20%;
	margin-right:20%;
	text-align: justify;
  }
  
  #traversal-preview {
	border: 3px solid rgb(139,207,249);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 30px 60px 0 60px;
	padding: 20px;
	text-align: center;
	width:auto;
	margin-left:20%;
	margin-right:20%;
	height:7%;
  }
  
  #traversal-actions .action {
	display: inline-flex;
	margin-right: 20px;
  }
  
  #traversal-actions .action input{
	  margin-right: 15px;
	}
  
  .app-link {
	color: #61dafb;
  }
  
  * {margin: 0; padding: 0;}
  
  .treeAVL ul {
	  padding-top: 20px; position: relative;
  
	  transition: all 0.5s;
	  -webkit-transition: all 0.5s;
	  -moz-transition: all 0.5s;
  }
  
  .treeAVL li {
	  float: left; text-align: center;
	  list-style-type: none;
	  position: relative;
	  padding: 20px 5px 0 5px;
  
	  transition: all 0.5s;
	  -webkit-transition: all 0.5s;
	  -moz-transition: all 0.5s;
  }
  
  .treeAVL li::before, .treeAVL li::after{
	  content: '';
	  position: absolute; top: 0; right: 50%;
	  border-top: 3px solid red;
	  width: 50%; height: 20px;
	  
  }
  .treeAVL li::after{
	  right: auto; left: 50%;
	  border-left: 3px solid blue;
  }
  
  .treeAVL li:only-child::after, .treeAVL li:only-child::before {
	  display: none;
  }
  
  .treeAVL li:only-child{ padding-top: 0;}
  
  .treeAVL li:first-child::before, .treeAVL li:last-child::after{
	  border: 0 none;
  }
  
  .treeAVL li:last-child::before{
	  border-right: 3px solid violet;
	  border-radius: 0 5px 0 0;
	  -webkit-border-radius: 0 5px 0 0;
	  -moz-border-radius: 0 5px 0 0;
	  
  }
  .treeAVL li:first-child::after{
	  border-radius: 5px 0 0 0;
	  -webkit-border-radius: 5px 0 0 0;
	  -moz-border-radius: 5px 0 0 0;
  }
  
  .treeAVL ul ul::before{
	  content: '';
	  position: absolute; top: 0; left: 50%;
	  border-left: 3px solid green;
	  width: 0; height: 20px;
  }
  
  .treeAVL li a{
	  border: 3px solid #ccc;
	  padding: 20px;
	  text-decoration: none;
	  background-color: #ccc;
	  color: rgb(0, 0, 0);
	  
	  font-size: 20px;
	  font-weight: semibold;
	  display: inline-block;
  
	  border-radius: 15px;
	  -webkit-border-radius: 15px;
	  -moz-border-radius: 15px;
  
	  transition: all 0.5s;
	  -webkit-transition: all 0.5s;
	  -moz-transition: all 0.5s;
  }
.inputTxt{
	margin: 5px;
	border:turquoise solid 1px;
	width: 100%;
	height: 2rem;
	border-radius: 100px;
	padding:5px;
	
}

.AVLButton{
	margin:unset;
	margin-right:10px;
	width: auto;
	height: auto;
	text-align: left;
	color: rgb(27,20,100);
	background-color: transparent;
	border: 3px solid rgb(27,20,100);
	border-radius: 20px;
	font-size: 1.1rem;
	
	cursor: pointer;
	padding: 10px;
}

.AVLButtonSearch{
	margin:unset;
	margin-right:20%;
	width: auto;
	height: auto;
	text-align: left;
	color: rgb(27,20,100);
	background-color: rgb(207,237,253);
	border: 3px solid rgb(27,20,100);
	border-radius: 20px;
	font-size: 1.1rem;
	
	cursor: pointer;
	padding: 10px;
}

