.navbar {
  box-sizing: border-box;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding: 0 8rem;
  z-index: 2;
  top: 0;
  background-color: rgb(255, 255, 255);
  outline: solid 1px #1b146480;
}
.footer {
  bottom: 0;
  background: #1b1464;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 4px 4px;
}

.footer svg{
  margin: 0 2px;
  font-size: 1rem;
}

.footer p{
  font-size: 1rem;
  display: flex;
}

.footerlogo{
  width: 20px;
  margin-right: 4px;
}

.footerb {
  background:rgb(216,243,255);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}
.footerb img{
  vertical-align: middle;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: 1% 0;
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  width: 16rem;
  right: calc(8rem - ((16rem - 90px)/2));
  position: absolute;
  top: 60px;
  z-index: 2;
  border: 1px solid #1b146480;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 30px 24px;
}
.dropdown ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.dropdown li {
  padding: 18px 12px;
}
.dropdown li:hover {
  transition: all 0.2s ease-in-out;
  color: #B8336A;
  cursor: pointer;
}
.dropdownlinks{
  color:#1b1464;
  text-decoration: none;
  
}
.dropdownlogout{
  color:rgb(185, 37, 37);
  text-decoration: none;
  
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #1b1464;
  transition: all 0.1s ease-in-out;
}

.navbar-logo img{
  margin-right: 4px;
  width: 30px;
}

.navbar-logo:hover {
  color:#B8336A;
  transition: all 0.1s ease-in-out;
}

.fa-firstdraft {
  margin-left: 0.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
}
.nav-menu-user {
  margin-right: 5%;
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item-user {
  justify-content: center;
  align-items: center;
}

.nav-item-disc {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 3px outset;
  border-color: turquoise;
  height: 35px;
  margin-top: 22px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#1b1464;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.nav-links svg{
  margin: 2px 2px 0 2px;
  font-size: 1.2rem;
}
.nav-links-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 4px 12px;
  height: 40px;
  width: 90px;
  box-sizing: border-box;
  border: 1px solid #B8336A;
  border-radius: 6px;
  background-color: #B8336A;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.nav-links:hover {
  color:#B8336A;
  transition: all 0.1s ease-in-out;
}

.nav-links-button:hover {
  color:#B8336A;
  border: 1px solid #B8336A;
  background-color:#ffffff;
  transition: all 0.1s ease-in;
}

.fa-times, .fa-bars {
  display: flex;
  color: #1b1464;
  font-size: 2rem;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
@media screen and (max-width: 1366px) {
  .navbar{
    padding: 0 4rem;
  }
  .dropdown{
    right: 0;
  }
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .navbar{
    padding: 0 24px;
  }
  .dropdown{
    height: calc((100dvh - 60px) - ((100dvh - 60px)/6));
    width: 100%;
    bottom: 60px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  .dropdown li{
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(((100dvh - 61px) - ((100dvh - 61px)/6))/4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-menu {
    grid-gap: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: -200%;
    height: calc(100dvh - 60px);
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease;
    z-index: -1;
  }

  .nav-links, .nav-links-button {
    text-align: center;
    height: calc((100dvh - 61px)/6);
    width: 100%;
    display: flex;
    border-radius: 0px;
  }

  .nav-links:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 0;
    cursor: pointer;
  }

  .menu-icon {
    display: flex;
    cursor: pointer;
  }
  
  .fab-times {
    color: black;
    font-size: 2rem;
  }
  .footer, .footerb {
    font-size: 0.8rem;
  }
}
.navbarb {
  background:rgb(216,243,255);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05rem;
 
}
.navbarb-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
}

.fab-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.navbicon{
  display: flex;
}
.navavatar{
  display: flex;
  width: 24px;
  padding: 0px 4px 4px 0px;
}
.navb-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: end;
  margin-right: 0rem;
}

.navb-item {
  height: 100%;
  border-radius: 19px;
  display: flex;
  align-items: center;
}
.navb-item:hover {
  background-color: rgba(83, 201, 255, 0.808);
  transition: all 0.2s ease-out;
}
.navb-links {
  
  color: black;
  text-decoration: none;
  padding: 2.5rem 1rem;
}

.fab-bars {
  color: black;
}