@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.collapsible{
  text-align: center;
}
.collapsible .toggle {
  cursor: pointer;
  
  margin-top:1px;
  width: 90%;
  
  border-bottom: #8bcff9;
  border-top: white;
  border-left: white;
  border-right: white;
  border-style: solid;
  border-width:thin;
  font-size: 1rem;
  font-weight: bold;
  background-color:white;
  color:black;
  border-radius: unset;
}

.collapsible .side-toggle {
  cursor: pointer;
  font:small;
  padding: 0.5rem;
  margin-bottom: unset;
  margin-left: 0px;
  width: auto;
  height: 50px;
  background: unset;
  background-color: rgba(77, 132, 199, 0.9);
  border-radius: 0px;
  animation: unset;
  color:rgb(255, 255, 255);
  font-size: large;

  
}


.collapsible .content {
  padding: 10px;
  text-align: justify;
  background-color: rgba(86, 148, 177, 0);
  color:black;
}

.collapsible .side-content {
  margin-top: 10px;
  padding: 0.5rem;
  overflow-y: auto;
  height: 50vh;
  text-align: justify;
  background-color: rgba(86, 148, 177, 0);
  width: 100%;
  color: rgb(56, 85, 110);
}

.collapsible .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
  padding-bottom: 0px;
  line-height:25px;
  padding:5px;

}
.collapsible .content-parent h1{
  line-height: normal;
  font-size: 1.5rem;
}

.left-table tr:nth-child(even) {
  background-color: rgba(2, 54, 54, 0.2);
}
.left-table th:nth-child(even),
.left-table td:nth-child(even) {
  background-color: rgba(46, 177, 177, 0.4);
}
.left-table{
  margin-bottom: -10rem;
 
}
