.grid-container {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 4px;
}
.dashboardArea{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
}
.grid {
  outline: 1px solid #1b1464;
  display: inline-block;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}
.pathfindcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.textDistance{
  color:black;
  font-weight:800;
  font-size: larger;
}

.textDistance1{
  color:black;
  font-weight:800;
  font-size: larger;
}

.algorithm-button-group {
  display: flex;
  flex: 1 1 auto;
}

.algorithm-button {
  padding-left: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.info-button {
  flex: 0 1 auto;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 960px) {
  .dashboardArea{
    width: 100%;
  }
}
