.grid-container {
  margin: 8% auto;
  background-color: rgba(134, 141, 146, 0.801);
}

.grid {
  white-space: pre;

}

button {
  padding: unset;
  padding: 0.5 rem;
}

.pathfindcontent {
  width: 100%;
  text-align: center;
}

.textDistance{
  color:black;
  font-weight:800;
  font-size: larger;
}

.textDistance1{
  color:black;
  font-weight:800;
  font-size: larger;
}