.node {
  box-sizing: border-box;
  width: calc(100svw / 75);
  height: calc(100svw / 75);
  box-shadow:0px 0px 0px 1px black inset;
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .node {
    box-sizing: border-box;
    width: calc(100svw / 20);
    height: calc(100svw / 20);
  }
}

@media screen and (max-width: 480px) {
  .node {
    box-sizing: border-box;
    width: calc(100svw / 15);
    height: calc(100svw / 15);
  }
}
.node-finish {
  background-color: #B8336A;
}

.node-start {
  background-color: #287ade;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-delay: 0;
  animation-direction: alternate;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.33);
    background-color: #ffffff;
    border-radius: 100%;
  }

  50% {
    transform: scale(1.2);
    background-color:#B8336A;
  }

  100% {
    transform: scale(1);
    background-color: #1b1464;
  }
}

.node-wall {
  background-color: #e6a05f;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #5fcae633;
  }

  50% {
    transform: scale(1.2);
    background-color: #5fcae667;
  }

  100% {
    transform: scale(1);
    background-color: #5fcae6;
  }
}
