@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
* {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

body{
  font-size: 62.5%;
}

.Sorting, .ShortestPath,
.DataStructures, .QuizPage,
.InformationBox1, .LoginForm,
.DiscussionBoard, .Profile,
.ScorePage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 145px);
  margin: 65px 0 20px;
}
.siteTitle {
  text-align: center;
}

.video-container {
  margin: -8rem auto 0 auto;
  width: 50%;
  z-index: -1;
  overflow: hidden;
}

.background-video {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 35dvh;
  left: 0;
  width: 100%;
  height: 75dvh;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 90%);
}
.reply_hidden{
  display: none;
}
.reply_shown, .comment_shown{
  width: 100%;
  box-sizing: border;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.reply_shown textarea, .updateinput{
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  margin-left: 0%;
  border-radius: 6px;
  border: 1px solid #1b146480;
  color: black;
  background-color: white;
  padding: 12px;
  resize: vertical;
}
.updateinput{
  margin-top: 4px;
}
label.replyuser {
  font-size: 1.2rem;
  font-weight: 800;
  color: #B8336A;
}

.buttonRegLog{
  background: none;
  border: hidden;
  color: #B8336A;
}
button {
  display: flex;
  min-width: fit-content;
  flex: 1 1 auto;
  text-align: justify;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  color: #fff;
  background:#B8336A;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #B8336A;
  border-radius: 6px;
}
button svg{
  font-size: 1.4rem;
}
button:hover {
  color:#B8336A;
  border: 1px solid #B8336A;
  background-color:#ffffff;
  transition: all 0.1s ease-in;
}
button:disabled {
  color: black;
  background-color: #1b146480;
  border: 1px solid #1b146480;
  cursor: not-allowed;
}
.loginBox {
  width: 25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.loginBox input, .loginBox select{
  background-color: white;
  border: #B8336A solid 1px;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 0 12px;
  font-size: large;
}
.loginBox a{
  display: flex;
  text-decoration: none;
}
.loginBox a button{
  color: #1b1464;
  font-size: 1rem;
}
.loginBox a button:hover{
  color: #B8336A;
  border: none;
}
.LinkedList,
.Queue,
.Tree {
  display: flex;
  height: 90vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.Information {
  background: transparent;
  scroll-behavior: smooth;
}
.InformationBox1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  align-items: center;
  color:#B8336A;
}
.InformationBox1 h1{
  color:black;
}

.InformationBox2 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  background-image: url("../src/components/images/wave2.svg");

}
.disc-button{
  width: auto;
  height: auto;
  color: #fff;
  position: relative;
  margin-bottom: 25px;
  border-radius: 8px;
  text-align: center;
  background-color:#B8336A;
  font-size: large;
  cursor: pointer;
  text-decoration: none;
  padding:1%;
  margin-left:22%;
  transition: all 0.1s ease-in-out;
}
.Infotxtbox {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2rem;
  color: white;
}
.left-panel .collapsible{
  text-align: left;
}
h1, h2, a, th {
  font-weight: 800;
}

h1 {
  color:#1b1464;
  font-size: 3.2em;
}

h2 {
  color:  #B8336A;
  font-size: 2.6em;
}

h3 {
  font-weight: 600;
  font-size: 2.4em;
}

text {
  font-weight: 600;
  font-size: 1.2em;
}

p, li{
  font-weight: 400;
}

p, th, td{
  font-size: 1.2rem;
}

li, a{
  font-size: 1rem;
}

.Sorting {
  width: 100%;
  overflow: hidden;
}

.DSleft {
  width: 65%;
  float: left;
  margin-left: 0%;
  margin-right: unset;
  
}
.DSright {
  color: white;
  width: 20%;
  float: right;
  border-color:#5fcae6;
  border-width: thin;
  border-style: solid;
  margin-right:30px;
  margin-left:-50%;
}
.visualizerArea{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 4px;
}
.dashboardArea{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
}
.grid {
  outline: 1px solid #1b1464;
  display: inline-block;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}
.pathfindcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.textDistance{
  color:black;
  font-weight:800;
  font-size: larger;
}

.textDistance1{
  color:black;
  font-weight:800;
  font-size: larger;
}

.algorithm-button-group {
  display: flex;
  flex: 1 1 auto;
}

.algorithm-button {
  padding-left: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.info-button {
  flex: 0 1 auto;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.right-side {
  color: white;
  width: 23%;
  float: right;
  padding:unset;
  border-color:  #5fcae6;
  border-style: solid;
  border-width: thin;
  margin-right:10px;
}
.leftInfo {
  width: 70%;
  float: left;
  color:#B8336A;
  padding: 2rem;
  font-size: 1.15rem;
  text-align: justify;
  line-height: 30px;
}
.rounded-container{
  background:white;
  border-radius: 100px;
  border:hidden;
  padding:7%;
}
.boximg {
  position: absolute;
  right: 1%;
  top: 180px;
  width: 37%;
}
.boximg2{
  position: absolute;
  right: 0%;
  width: 32%;
  bottom: -100%;

}
.speechbubble1 {
  position: relative;
  float: left;
  left: 10vw;
  bottom: -21vh;
  width: 50%;
}
.speechbubble2 {
  position: relative;
  left: 0px;
  top: 190px;
  width: 50%;
}
.htext {
  font-size: x-large;
  color: rgb(38, 11, 87);
  font-size: x-large;
}
.girl1 {
  position: relative;
  right: 20vw;
  top: 25vh;
  width: 40%;
  transform: scaleX(-1);
}
.girl2 {
  position: relative;
  right: 175px;
  top: 100px;
  width: 60%;
  transform: scaleX(-1);
}
.rightInfo {
  width: 30%;
  float: right;
  color:#B8336A;
  font-size: 1.1rem;
  text-align: center;

}
.DataStructures .left-panel {
  width: 17%;
}

.box1 {
  box-sizing: border-box;
  padding: 60px 0 0;
  position: relative;
  height: 60svh;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#typer1 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 4.8em;
}

.message2{
  color:black;
  margin-bottom: 12px;
  text-align: center;
}

.newlogin{
  background: #B8336A;
  margin-bottom: 25px;
  border-radius: 12px;
  text-align: center;
  color:white;
  font-size: large;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 24px;
  transition: all 0.1s ease-in-out;
}  

.box2 {
  position: relative;
  z-index: 1;
  padding: 0px 0px 24px 0px;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.oneSection li{
  margin-bottom: 4px;
}

.typeSection{
  display: flex;
  flex-direction: column;
}

.type{
  padding: 10px 50px;
  display: grid;
  grid-template-columns: 15% auto;
  justify-content: center;
  align-items: start;
}
.type div{
  padding-left: 10px;
}

.oneSection ul {
	position: relative;
	margin-left: 0;
	padding-left: 1.2em;
}

.aboutImg{
  width: 100%;
}

.imgSection{
  flex: 1 1 45%;
  min-width: 300px;
} 

.descSection{
  font-size: 1.2em;
  flex: 1 1 55%;
}

.Home {
  scroll-behavior: smooth;
}


.quiz{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display:table;
  background-attachment: fixed;
}

.newlogin:hover {
  opacity: 0.7;
}
.newlogin:active {
  opacity: 1;
}

.loginPageButton {
  width: 20%;
  height: auto;
  background: rgb(93,203,231);
  border-color:rgb(93,203,231);
  position: relative;
  margin-bottom: 25px;
  border-radius: 10px;
  text-align: center;
  color:white;
  font-size: large;
  line-height: 35px;
  
  cursor: pointer;
  text-decoration: none;
  padding:1%;
  transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
   
}

.registerPageButton{
  width: 30%;
  height: auto;
  background: rgb(18, 92, 110);
  border-color:rgb(93,203,231);
  position: relative;
  margin-bottom: 25px;
  border-radius: 10px;
  text-align: center;
  color:white;
  font-size: large;
  line-height: 35px;
  
  cursor: pointer;
  text-decoration: none;
  padding:1%;
  transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
}

.TabBox {
  font-size: calc(0.5vh + 0.5vw);
  height: 80vh;
  width: 100%;
}

.ExecutionTime {
  text-align: center;
}

.commentform {
  align-content: center;
  justify-content: start;
  display: flex;
  flex-direction: column;
  padding: 2px 12px;
}

.userform{
  display: flex;
  flex-direction: row;
}

.userform img{
  flex: 0 0 auto;
  display: flex;
  width: 50px;
  height: 50px;
}

.userinput{
  margin-top: 4px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.userinput button{
  flex: 0 1 auto;
  width: 100px;
}

.commentform textarea {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  margin: 2px 0;
  border-radius: 6px;
  border: 1px solid #1b1464;
  background-color: white;
  padding: 15px;
  color: black;
}
.commentform label {
  color: aliceblue;
  text-align: center;
  font-size: large;
}
.cardholder {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.replyholder{
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 0px;
  padding-left: 30px;
  border-radius: 12px;
}
.replyholder2{
  margin-top: 4px;
  padding: 4px 8px 4px 8px;
  border: 1px solid  #B8336A80;
  border-radius: 6px;
  background-color: white;
}

.actionArea{
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.actionArea button, .reply_shown button{
  display: flex;
  flex: 0 1 auto;
  margin: 0 4px;
  min-height: 30px;
  border: none;
}

.actionArea button:hover, .reply_shown button:hover {
  border: none;
  background-color: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 8px 12px;
  margin: 2px 0;
  color: black;
  text-align: justify;
  border: 1px solid #1b146480;
  border-radius: 6px;
  background: white;
}

.cardholderScore {
  padding-right:0%;
  display: flex;
  flex-direction: column-reverse;
  
}
.score-card{
  padding:1%;
  margin:10%;
  margin-top:2%;
  background-color: white;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  align-self: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20px;
  
  color: black;
  text-align: justify;
  font-size: large;
 
  margin-bottom: 10px;
 
}

.scoreLeft{
  margin-top:18%;
  margin-left: 9%;
  float:left;
  width:90%;
  height:60vh;
  overflow-y: auto;
  
}
.man{
 width:45%;
 left:11.3%;
 top:6% ;
 position: absolute;
 padding-left:25%;

}
.checklist{
  position: absolute;
  left:3.5%;
  top:24%;
  width:5%;
}
.outerleft{
  width:60%;
  float:left;

}
.scoreRight{
  float:right;
  text-align: center;
  width:40%;
  color:darkblue;
}
.scoreTable{
  height:65vh;
  overflow-y: auto;
  border-color:unset;
  border-width: thin;
  border-radius:10px;
  background-color:white;
  padding-left:10%;
  padding-top:5%;
  
  
}
.scoreRow{
  padding-top:2%;
  padding-right: 5%;
  
  font-size: 1.1rem;
  background: rgb(209,239,253);
  text-align: justify;
  padding-left: 10%;
  margin-top: 3%;
}
.scoreRow h1{
  text-align: right;
  color:forestgreen;
}
.scorePic{
  background-color: white;
  margin-left:-9%;
  float:left;
  color:white;
  width:auto;
  padding:1.15%;
  border-radius: 100px;
}
.labelScore{
  top:27%;
  position: absolute;
  left:8%;
  text-align: left;
}
.crown{
  margin-bottom: -1%;
  margin-top:-1%;
  margin-left:48%;
  width: 8vw;
  height:10vh;
}
.scoreRight h1{
  
}
.replyBody{
  padding: 0 18px 8px 28px;
}
.replymsg{
  font-size: 1rem;
}
.datemsg{
  padding-left: 88%;
}
.user {
  display: inline-block;
}

.commentbtn {
  border: 1px solid transparent;
  box-sizing: border-box;
  background: none;
  color:#1b1464;
}
.replybtn {
  border: 1px solid transparent;
  background: none;
  color:#1b1464;
}

.ideatext{
   color:violet;
}
/* Backend */
.BackendPage {
  min-height: 100vh;
  background: rgb(216,243,255);
}
.backend_title{
  padding-top: 20px;
  color: black;
  font-size: 48px;
  text-align: center;
}
.userinfo{
  color: black;
}

.indentButton{
  padding-left: 5%;
  margin-right: -5%;
}
.backendtabs {
  background-color: rgb(216,243,255);
  -webkit-tap-highlight-color: black;
}

.backendtablist {
  line-height: 75px;
  background: rgb(170, 230, 255);
  margin: 0 0 10px;
  height: 100px;
  padding-left: 5%;
}
.graphtablist {
  margin: 0 0 10px;
}
.backendtab {
  background: rgba(255, 255, 255, 0);
  display: inline-block;
  position: relative;
  list-style: none;
  height: 100px;
  margin-right: 10px;
  padding: 12px 24px;
  cursor: pointer;
}
.graphtabs {
  background-color: rgb(255, 255, 255);
  -webkit-tap-highlight-color: black;
}
.graphtab {
  background: rgb(197, 197, 197);
  display: inline-block;
  position: relative;
  border: 8px solid transparent;
  border-radius: 8px 8px 8px 8px;
  list-style: none;
  padding: 2px 12px;
  margin-right: 10px;
  cursor: pointer;
}

.backendtab--selected {
  background: rgb(216,243,255);
  color: black;
}
.graphtab--selected {
  background: rgb(49, 190, 255);
  color: black;
}

.backendtab--disabled {
  color: GrayText;
  cursor: default;
}

.backendtab:focus {
  outline: none;
}

.backendtab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}
.piegraph{
  height: 200px
}
#listtable {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 19px;
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  padding-bottom: 0px;
}
#listtable  tr th,
#listtable  tr td {
  padding: 5px;
  padding-left: 15px;
}
#listtable  tr th {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 174, 255, 0.808);
  text-align: left;
}
#listtable tr:nth-child(even){background-color: #f5f5f5;}
/* top-left border-radius */
#listtable  tr:first-child th:first-child {
  border-top-left-radius: 19px;
}
/* top-right border-radius */
#listtable  tr:first-child th:last-child {
  border-top-right-radius: 19px;
}
/* bottom-left border-radius */
#listtable  tr:last-child td:first-child {
  border-bottom-left-radius: 19px;
}
/* bottom-right border-radius */
#listtable  tr:last-child td:last-child {
  border-bottom-right-radius: 19px;
}
.deletebtn{
  height: 50px;
  font-size: 15px;
  background-color: rgba(177, 36, 36, 0.808);
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
  
}
.deletebtn:hover{
  background-color: rgba(199, 73, 73, 0.808);
}
.pagination{
  display: inline-block;
  text-align: center;
  margin-left: calc(50% - 350px);

}
.pagination input, .pagination select{
  height: 30px;
}
.pagination button, .backendbtn{
  height: 50px;
  background-color: rgba(0, 174, 255, 0.808);
  font-size: 15px;
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
  
}
.pagination button:hover, .backendbtn:hover{
  background-color: rgba(83, 201, 255, 0.808);
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
}
.backendchkbox{
  width: 20px;
  height: 20px;
}
.backendcard {
  width: 97%;
  height: auto;
  padding: 20px;
  padding-bottom: 0px;
  border-color: solid, 5px;
  margin: 10px;
  color: black;
  text-align: left;
  font-size: large;
  border-radius: 19px;
  background: rgba(255, 255, 255);
}
.commentHeader{
  display: flex;
  justify-content: start;
  align-items: start;
}
.commentBody{
  width: 100%;
  box-sizing: border-box;
}
.commentHeader img{
  flex: 0 0 auto;
}
.commentHeader span{
  font-size: 1rem;
}
.userCommentDetails{
  margin-top: 8px;
  height: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.userReplyDetails{
  margin-top: 4px;
  height: 18px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.userDateSeparator{
  padding: 0 8px;
  font-size: 0.5rem;
}
.dashboardtitle{
  font-size: 32px;
  color: rgb(0, 0, 0);
}
.dashboardicon {
  font-size: 64px;
  color: rgb(0, 0, 0);
  text-align: right;
}
.dashboardstats {
  font-size: 24px;
  color: #208ceb;
  text-align: left;
}
.dashboardtable{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 10px;
}
.seperation{
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  padding-bottom: 10px;
}
.seperationusers{
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  padding-bottom: 10px;
}
.seperationusers td:first-child {
  width: 1%;
  white-space: nowrap;
}
.dashboardtable td{
  width: 25%;
  vertical-align: top;
}
.dashboardcard {
  padding: 30px;
  border-color: solid, 5px;
  margin: 10px;
  color: black;
  text-align: left;
  font-size: large;
  border-radius: 19px;
  background: rgba(255, 255, 255);
}
.backenduser {
  font-size: 24px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-left: 7px;
}
.backendreplyuser {
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-left: 7px;
}
.backendinput {
  background:rgba(233, 233, 233);
  height: 30px;
  border-style: hidden;
  color:black;
  width: 100%;
  border-color: rgba(233, 233, 233);
  border-style: solid;
  border-radius: 5px;
}
.AdminPage {
  background-color: rgb(216,243,255);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}
.backendform {
  position: absolute;
  top: 25%;
  left: 37.5%;
  height: auto;
  text-align: center;
  background-color: rgba(255, 255, 255);
  width: 25%;
  padding: 20px;
  border-color: solid, 5px;
  border-radius: 19px;
}
.passwordfield{
  font-size: 15px;
  color: black;
  background-color: #00000000;
  border:none;
}
.backendinput{
  width: 160px;
  height: 40px;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.popup{
    background-color: #c7f1ea;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    
    border-radius: 8px;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

.fillDiv{
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.fillDiv input{
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: 1px solid #1b146480;
  padding: 20px;
  border-radius: 6px;
}
.quizInnerDiv {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  min-height: calc(100svh - 400px);
  max-height: calc(100dvh - 240px);
  height: auto;
  border: 1px solid #1b146480;
  border-radius: 6px;
  padding: 18px;
  margin: 8px 0;
  overflow-y: auto;
}

div.quizInnerDiv > p{
  margin: 0 auto;
}

.quizBody {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.quizAnswers {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.quizAnswers button {
  width: 100%;
  flex: 1 1 calc(50% - 4px);
  margin: 2px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid #1b146480;
  border-radius: 6px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

.quiz_demo{
  padding:1%;
  margin:auto;
  margin-top:1%;
  background-color: rgb(254, 254, 254);
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow-y:scroll;
  height: 40rem;
  width: 60rem;
  margin-bottom: 20%;
  border: rgb(93, 213, 243) solid 3px;
}

#quiz_demo_note{
  margin-top: 2rem;
  text-align: center;
}
#quiz_demo_note>h2{
  color: black;
  font-size: 32px;
}

.quiz_instruction {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #1b146480;
  min-height: calc(100dvh - 400px);
  max-height: calc(100dvh - 240px);
  border-radius: 6px;
  padding: 18px;
  margin: 8px 0;
  overflow-y: auto;
  justify-content: space-between;
}

.quiz_instruction_header,
.quiz_instruction_function {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.quiz_instruction_header {
  flex: 1;
}

.quiz_instruction_function {
  text-align: center;
  align-items: center;
  margin-top: auto;
}

.choices_admin_quiz>label{
  margin: 2%;
}
.choices_admin_quiz{
  padding-top: 20px;
}

.buttons-positioned{
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.button-next{
  box-sizing: border-box;
  display: flex;
  align-self: end;
  width: 50%;
}

.button-next button,
.buttons-positioned button{
  display: flex;
  flex: 1 1 50%;
  margin: 4px 2px;
  box-sizing: border-box;
}

#buttonQuizz{
  margin:0%;
  border-color: teal;
  border-style: solid;
  border-width: medium;
  color:#2b388a;
  font-size: 1.05rem;
  background-color: white;
}
#buttonQuizz:hover{
  background-color:teal;
  color:white;
}

.quiz-maker-add_button{
  height: 50px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border:rgb(0, 0, 0) solid 3px;
  color: black;
  width: 25%;
}

.quiz_deleteButton{
  /* background-color: rgba(255, 93, 93, 0.777); */
  height: 50px;
  font-size: 15px;
  background-color: rgba(177, 36, 36, 0.808);
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
  width: 33%;
  border:rgb(0, 0, 0) solid 3px;
}

.quiz_deleteButton:hover, .quiz_editButton:hover, .quiz-maker-add_button:hover{
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  box-shadow: #36c4c9 5px 10px;
}

.quiz_editButton{
  /* background-color: rgba(194, 255, 101, 0.777); */
  height: 50px;
  font-size: 15px;
  background-color:  rgb(124, 195, 66);
  border-radius: 8px;
  border:rgb(0, 0, 0);
  color: black;
  width: 33%;
  border:rgb(0, 0, 0) solid 3px;
  
}


.quiz-maker-container{
  text-align: center;
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 3%;
  width: 60%;
  margin: auto;
}

#quiz-maker-edit{
  text-align: center;
  font-size: 24px;
  width: 50%;
  margin: auto;
}

.quiz-maker-container > h1{
  font-size: 64px;
  color: #292828;
  margin: auto;
  padding:3px;
  background-color: rgb(216, 243, 255);
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.quiz-maker-choices-input{
  font-size: 16px;
  padding: 10px;
  margin: 10px 30px;
  border:2px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  
}

.quiz-maker-choices-edit-input{
  font-size: 16px;
  padding: 10px;
  margin: 10px 0px;
  border:2px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  
}

.quiz_admin_container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .5em;
  grid-column-gap: .5em;
  text-align: center;
  padding:15px 5px 0px 5px;
}

.quiz-maker-radio-choices{
   /* prevent taking any space */
  /* cross-browser hidingg */
  opacity: 0;
  width:0; 
  height:0;
}

.question-admin-choices-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.question-admin-choices-container>label{
  padding-top: 15px;
  
}


.quiz-maker-select{
  padding:10px;
  border-radius:10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  
  font-size: 14px;
  margin: 10px 0px;
}

.quiz-maker-label{
  
  font-size: 32px;
}

.quiz_admin_container .questions{
  background-color: rgb(255, 255, 255);
  min-height: 50vh;
  max-height: 77vh;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  overflow-y: auto;
}

#admin-quiz-content>h1{
  background-color: none;
  font-size: 2rem;
  text-align: left;
  font-size: 52px;
  text-align: center;
  background-color: rgb(216, 243, 255);
  color: rgb(3, 0, 30);
}

#admin_questions{
  margin-top: 3%;
  text-align:center;
}

.grid-questions{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

#selected_button_tf, #selected_button{
  color:white;
  background-color:#B8336A;
}

#true_button:hover, #false_button:hover,
#quiz-contentx:hover{
  background-color: #5fcae6;
}

#quiz-content1{
  background-color: rgb(216, 243, 255);
  width: 30%;
  margin: auto;
}

#quiz-content0{
  background-color: none;
  
  
  font-size: 2rem;
}

#quiz-content4{
  
  font-size: 1rem;
  color:tomato;
}

.AVLdiv{
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  height: 140vh;
  background-attachment: fixed;
  font-size: 24px;
  margin-bottom: 10px;
}

#quiz-content2{
  
  
  font-size: x-large;
  margin-bottom: 10px;
  margin-top:10px;
}

.quizType2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  min-height: fit-content;
}

.progress-circle-container{
  background-color: white;
  padding: 10px;
  margin-right: 3%;
  border-radius: 100%;
  float: right;
  width: 25%;
  height: 25%;
}

.score-information-holder{
  background-color: white;
  padding: 10px;
  margin-left: 3%;
  border-radius: 15px;
  float: left;
  color: rgb(22, 86, 126);
  width:50%;
  height:200%;
}

.left-avl-panel{
  width: 20%;
  position:absolute;
}
/* DSA PAGE */

.dsaContainer{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.visualizerArea .buttonArea,
.dsaContainer .buttonArea, 
.dsaContainer .inputContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.dsaContainer .slidercontainer {
  width: 40%;
  margin: 0 auto;
}

.inputContainer{
  margin: 1px;
  box-sizing: border-box;
}

textarea.input-data {
  min-height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  resize: vertical;
  background-color: white;
  border: 1px solid #1b146480;
  border-radius: 6px;
}

div.fixedCode {
  width: 98.5%;
  height: 3%;
  margin: 5px;
  font-size: 13px;
  
}

textarea.code-write {
  display: none;
}
div.text-input1 {
  padding: 5px;
  width: 23%;
  height: 4.2%;
  margin:0;
  float: left;
  margin-top: 1.5%;
  position: relative;
  text-align: middle;
  color:aliceblue;
  
}
.precaution {
  width: 22px;
  height: 22px;
  padding: 0;
  float: left;
  margin: 0;
  margin-top: 1.5%;
  position: relative;
  border: none;
  cursor: pointer;
  background-size: cover;
  outline:0px !important;
  color: aliceblue;
}

.cautionImg {
  width: 22px;
  height: 22px;
  display: block;
  float: left;
}


.coverDom {
  width: 1000%;
  height: 1000%;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1002;
  color: aliceblue;
}

.cautionContent {
  width: 400px;
  height: 300px;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 1003;
  border-color: black;
  border-width: 2px;
  border-style: double;
  
  color:white;
}

.input-button-close {
  width: auto;
  height: auto;
  text-align: middle;
  border: none;
  background-color: Black;
  color: white;
  font-size: 17px;
  cursor: pointer;
  padding: 7px;
  
}

p.linestyle {
  margin:5px;
}

div.operation-state {
  width: 40%;
  height: 100%;
  float: right;
  color: aliceblue;
}

.op-section {
  vertical-align: middle;
  color: white;
  border-color: red;
}
.samplecode {
  height: 4.2%;
  float: left;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.samplecodebutton {
  width: 100%;
}

.appDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: translate(0, -100%);
  width: 100%;
  overflow: none;
  border: 1px solid #1b146480;
  border-radius: 6px 6px 6px 0;
  z-index: 3;
  background-color: white;
}

.itemIcon{
  padding-right: 4px;
}

.dropDownIcon {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.appDropdown button {
  min-height: 40px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid #1b146480;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.appDropdown button:last-child {
  border-bottom: none; /* Remove border from last item */
}

/* Optional: Add hover effect */
.appDropdown button:hover {
  border: none;
  color:#B8336A;
  border-bottom: 1px solid #1b146480;
  background-color: transparent;
}

.appDropdown button:last-child:hover {
  border-bottom: none;
}

div.show-container {
  background-color: transparent;
}

div.drawing {
  display: flex;
  height: calc((100svh - 120px) - 320px);
  width: 100%;
  border: 1px solid #1b146480;
  border-radius: 6px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.drawing svg{
  width: 100%;
  height: 100%;
  scale: 1;
  box-sizing: border-box;
}

.slidercontainer {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 42px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin-bottom: 4px;
}

.sliderlabel {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
}

.slidercontainer p{
  font-weight: 600;
  margin: -2px 0;
  font-size: 1rem;
}

/* The slider itself */
.slider, .slider-disabled {
  margin: 8px 0;
  display: flex;
  -webkit-appearance: none; /* Override default CSS styles */
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background-color: #1b1464; /* Grey background */
  outline: none; /* Remove outline */
  border-radius: 6px;
}

.slider-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.slider::-moz-range-thumb, 
.slider::-webkit-slider-thumb,
.slider-disabled::-moz-range-thumb,
.slider-disabled::-webkit-slider-thumb {
  width: 1.5em;
  height: 1.5em;
  background: #B8336A;
  cursor: pointer;
  border: none;
  border-radius: 100%;
}

.slider-disabled::-moz-range-thumb,
.slider-disabled::-webkit-slider-thumb {
  background: #333;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
}

@keyframes CodeText {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.codeText {
  transform: scale(1);
  animation: CodeText;
  animation-duration: 1s;
  margin: 0;
  min-height: 1.2em;
  text-align: center;
  color: black;
}
.showdata {
  width: 15%;
  height: 4.2%;
  float: left;
  position: relative;
  margin:0;
  margin-top: 0.8%;
}

.showdatabutton {
  width: auto;
  height: auto;
  border: none;
  background-color: Black;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 4px;
  margin-right:7px;
  margin-left: 5px;

}

.dataContent {
  width: 400px;
  height: 300px;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  overflow: scroll;
  position: fixed;
  border-color: black;
  border-width: 2px;
  border-style: double;
  background-color: rgba(14, 13, 13, 0.808);
  z-index: 1001;
}

.datascript {
  width: 100%;
  height: 30px;
  position: relative;
  border-color: red;
  border-width: 1px;
  overflow: hidden;
  border-style: solid;
}

.datastring {
  width: 100%;
  position: relative;
  border-color: rgb(253, 253, 253);
  border-width: 1px;
  overflow: hidden;
  border-style: solid;
  color: aliceblue;
}

.dataname {
  height: 150%;
  position:relative;
  float: left;
  color: aliceblue;
}

.consolelog {
  width: 50%;
  height: 120%;
  text-align: middle;
  border: none;
  margin:2px;
  margin-top:1px;
  float: right;
  position: relative;
  background-color: rgb(245, 245, 245);
  color: white;
  cursor: pointer;
}


.toString {
  width: 50%;
  height: 120%;
  text-align: middle;
  border: none;
  margin:2px;
  margin-top:-5px;
  float: right;
  position: relative;
  background-color: rgb(250, 250, 250);
  color: white;
  cursor: pointer;
}

.viewobject {
  width: 10%;
  height: 90%;
  text-align: middle;
  border: none;
  margin:2px;
  margin-top:1px;
  float: right;
  position: relative;
  background-color: Black;
  color: white;
  cursor: pointer;
}

.closeshowdata {
  width: auto;
  height:auto;
  text-align: middle;
  border: none;
  background-color: Black;
  color: white;
  margin-top:2px;
  float: left;
  position: relative;
  padding:4px;
  margin-left: 35%;
}

div.show-datas {
  width: 100%;
  height: 10%;
  float: left;
  color: aliceblue;
  background-color: rgba(14, 116, 109, 0.849);
}


.methodContent {
  width: 250px;
  height: 300px;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  overflow: scroll;
  position: fixed;
  border-color: black;
  border-width: 2px;
  border-style: double;
  background-color: rgba(87, 2, 2, 0.747);
  color: aliceblue;
  z-index: 1001;
  font-size: 2 rem;
}


.methodscript {
  width: 100%;
  height: 30px;
  position: relative;
  border-color: black;
  border-width: 1px;
  overflow: hidden;
  border-style: solid;
}

.methodCommand {
  height: 100%;
  position:relative;
  float: left;
  margin: 3px;
}

.goMethod {
  width: auto;
  height: auto;
  text-align: middle;
  border: none;
  margin:2px;
  margin-right: 3px;
  margin-top:1px;
  float: right;
  position: relative;
  background-color: Black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 2px;
}

.quizBox{
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DiscussionBox, .DiscussionBox .buttonArea,
.quizBox .buttonArea,
.profileBox .buttonArea {
  width: 50%;
  margin: 0 auto;
}

.profileBox{
  min-width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #1b146480;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 32px 24px;
}

.userDetails{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 12px;
}


.redbtn{
  background-color: rgb(180, 0, 0);
  border: 1px solid transparent;
}

.ScoreContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.ScoreBox{
  margin-top: 2px;
  box-sizing: border-box;
  height: calc(100dvh - 200px);
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoretablist {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  padding: 0;
}
.scoretabs {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.scoretab1, .scoretab2{
  background: #B8336A;
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid #B8336A;
  border-radius: 6px;
  min-height: 40px;
  list-style: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  min-width: fit-content;
  flex: 1 1 auto;
}

.scoretab1 svg, .scoretab2 svg{
  margin-top: 2px;
  margin-right: 2px;
  font-size: 1.2rem;
}

.scoretab1{
  margin-right: 1px;
}

.scoretab2{
  margin-left: 1px;
}

.scoretab1:hover, .scoretab2:hover, .scoretab--selected {
  background: white;
  color: #B8336A;
  transition: all 0.1s ease-in;
}

.scoreTab{
  width: 100%;
}

.yourScoreTab, .topScoreTab{
  margin: 44px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #1b146480;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  overflow-y: auto;
  border-radius: 6px;
}

.scoreCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 48px;
  border: none;
  border-bottom: 1px solid #1b146480;
  text-align: justify;
}

.scoreCard:last-child {
  border-bottom: none; /* Remove border from last item */
}

.scorePercent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.topScoreInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userAvatarInfo img{
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1366px) {
  .visualizerArea .buttonArea,
  .box2, .descSection, .imgSection,
  .visualizerArea, .loginBox,
  .dsaContainer, .dsaContainer .buttonArea,
  .dsaContainer .inputContainer,
  .quizBox, .DiscussionBox,
  .DiscussionBox .buttonArea,
  .quizBox .buttonArea {
    width: 75%;
    margin: 0 auto;
  }
  .dashboardArea {
    width: calc(75% * 0.75);
  }
  .dsaContainer .slidercontainer {
    width: calc(75% * 0.8);
  }
}

@media screen and (max-width: 960px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  button svg{
    font-size: 1rem;
  }
  .selectIcon{
    font-size: 1rem;
  }
  .box1{
    height: 100dvh;
  }
  .box2, .descSection, .imgSection{
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
  }
  .box2 {
    padding: 0px 0px 8px 0px;
    flex-direction: column;
  }
  .imgSection{
    padding: 0;
  }
  .aboutImg{
    width: 100svw;
  }
  .type img{
    width: 60%;
  }
  .oneSection{
    padding: 0 12px;
  }
  .descSection{
    justify-content: center;
  }  
  .type{
    padding: 0;
    grid-template-columns: auto;
  }
  .type div{
    padding: 0;
  }
  .visualizerArea{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .loginBox{
    width: 100%;
    padding: 4px;
  }
  .dsaContainer{
    width: 100%;
    padding: 0;
  }
  .dsaContainer 
  .buttonArea, .visualizerArea .buttonArea,
  .dsaContainer .inputContainer,
  .quizBox, .DiscussionBox,
  .DiscussionBox .buttonArea,
  .quizBox .buttonArea,
  .ScoreContainer {
    width: 100%;
  }
  .dsaContainer .slidercontainer {
    width: 80%;
  }
  .appDropdown {
    max-height: 80dvh;
    width: 80svw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 6px;
    z-index: 3;
  }
  .overlay2{
    background: rgba(0, 0, 0, 0.4);
  }
  .scoretablist, .dashboardArea{
    width: 100%;
  }
  .scoreCard{
    padding: 12px 6px;
  }
  .quizInnerDiv{
    height: calc(100dvh - 240px);
  }
  .video-container {
    margin: -12rem 0 0 -50%;
    width: 200%;
    z-index: 0;
    overflow: hidden;
  }
  .video-overlay {
    top: 0dvh;
    height: 200dvh;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 75%);
  }
}